.header{

  padding: 0;
  text-align: center;
font-size: 20px;
  background-color: wheat;
}
.topnav{
  background-color: #2323;
  padding: 20px;
  margin: 10px;
 font-size: 20px;
}
 
 .main{
  background-image: url(../images/.p.jpg);
 }



















































































































































